.booking {
  .brand {
    h2 {
      color: #000;
      font-family: Poppins;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.45px;
    }
    .carContainer {
      max-width: 150px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .specifications {
    border-top: 2px solid #bcbcbc;
    border-bottom: 2px solid #bcbcbc;
    padding-top: 10px;
    padding-bottom: 10px;
    h4 {
      color: #000;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.3px;
      text-transform: uppercase;
      padding-bottom: 10px;
    }
    .specs {
      color: rgba(0, 0, 0, 0.51);
      font-family: Poppins;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        li {
        }
      }
    }
  }
  .pickupPlace {
    padding-top: 10px;
    padding-bottom: 25px;
    border-bottom: 2px solid #bcbcbc;
    h4 {
      color: #000;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.3px;
      text-transform: uppercase;
      padding-bottom: 10px;
    }
    input {
      background: #f6feff;
      // width: 20%;
      border-radius: 13px;
      border: 2px solid #8080fd;
      padding: 15px;
    }
  }
  .pickupDate {
    margin-bottom: 45px;
    h4 {
      color: #000;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.3px;
      text-transform: uppercase;
      padding-bottom: 10px;
    }
    .datePickup {
      h5 {
        color: #000;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-bottom: 10px;
      }
      input {
        // width: 20%;
        border-radius: 13px;
        border: 2px solid #8080fd;
        padding: 14px;
        margin-bottom: 10px;
      }
    }
  }
  .pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    .background-opacity {
      background-color: rgba(0, 0, 0, 0.84);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .carBooked {
        h1 {
          color: #fff;
          font-family: Poppins;
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: -0.6px;
        }

        p {
          color: #86afff;
          font-family: Poppins;
          font-size: 13px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: -0.195px;
        }
      }
    }
    p {
      color: #4e4e4e;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.3px;
    }
    button {
      border-radius: 15px;
      background: #8886fd;
      color: #fff;
      padding: 10px 40px;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.3px;
    }
  }
}
