.bookingSteps {
  border-top: 2px solid rgba(0, 0, 0, 0.11);
  border-bottom: 2px solid rgba(0, 0, 0, 0.11);
  // margin-bottom: 100px;
  padding: 0px 28px;
  display: grid;
  grid-template-columns: 375px 1fr 1fr 1fr 1fr;
  grid-gap: 16px;

  .rentalInfo {
    display: flex;
    align-items: center;
    gap: 11px;
    border-right: 2px solid rgba(0, 0, 0, 0.11);
    padding: 11px 5px 11px 0px;

    &:last-child {
      border-right: none;
    }

    .stepNum {
      font-size: 20px;
      h1 {
        font-weight: 600;
        background: linear-gradient(180deg, #8080FD 0%, #FFFFFF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .stepText {
      p {
        font-size: 11px;
        font-weight: 600;
        color: #818181;
      }
    }

    .stepChoose {
      p {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
  
  // .item1 {
  //   padding-right: 0px !important;
  // }
}

@media screen and (max-width: 768px) {
  .bookingSteps {
    padding: 0px 0px;
    gap: 0px;
    // flex-direction: column;
    grid-template-columns: repeat(2, 1fr);

    .rentalInfo {
      border-right: none;
      // border-bottom: 2px solid rgba(0, 0, 0, 0.11);
    }

    .item1 {
      grid-column: 1 / -1;
      border-bottom: 2px solid rgba(0, 0, 0, 0.11);
      padding: 11px 18px;
    }

    .item2 {
      border-right: 2px solid rgba(0, 0, 0, 0.11);;
      border-bottom: 2px solid rgba(0, 0, 0, 0.11);
      padding: 11px 18px;
    }

    .item3 {
      border-bottom: 2px solid rgba(0, 0, 0, 0.11);
      padding: 11px 18px;
    }

    .item4 {
      border-right: 2px solid rgba(0, 0, 0, 0.11);
      padding: 11px 18px;
    }

    .item5 {
      padding: 11px 18px;
    }
  }
}
