@media screen and (max-width: 780px) {
  .profileInputs {
    p {
      width: 100% !important;
    }
  }

  .updateProfile {
    width: 40% !important;
  }
  
  .logoutBtn {
    width: 40% !important;
  }
}
